{
    'extends': 'airbnb-base/legacy',
    'env': {
        'browser': true,
        'jquery': true
    },
    globals: {
        'angular': 1
    },
    'rules': {
        'indent': [2, 4],
        'func-names': 0,
        'no-param-reassign': 0,
        'global-require': 0,
        'no-console': ["error", { allow: ['log', 'error', 'warn'] }],
        'max-len': 0,
        'no-underscore-dangle': ["error", { "allow": ["_template"] }],
        'one-var': [2, 'always']
    }
}
